.login input{
    border-radius: 5%;
    outline: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-height: 20px;
    max-width: 180px;
}

.login input:invalid{
    border: 2px solid red;
}

.login input:valid{
    border: 2px solid green;
}


.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 600px;
    background-color: aliceblue;
    position: absolute;
    left: 42%;
    top: 50px;
    padding: 30px;
    border-radius: 15px;
}

.login > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.login > div > label{
    font-family: 'Courier New', Courier, monospace;
}

.login > label{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    margin-bottom: 20px;
}

#signup_btn{
    background-color: rgb(120, 158, 241);
    border: none;
    min-height: 30px;
    min-width: 50px;
    border-radius: 10%;
}

.login {
    padding: 10px;
}