<!DOCTYPE html>
{% load static %}
<html lang="en" id="root">
<head>
    <meta charset="UTF-8">
    <title>{{course_name}}</title>
    <link rel="stylesheet" href="{% static 'hw_board/header/header.css' %}">
    <link rel="stylesheet" href="{% static 'hw_board/main/main.css' %}">
    <link rel="stylesheet" href="{% static 'hw_board/signup/signup.css' %}">
    <link rel="stylesheet" href="{% static 'hw_board/courses/courses.css' %}">
</head>
<body>
        <header>
            <input type="button" name="home" class="home_btn" value="Домой" onclick = "window.location.href='/hw_board/'"/>
            <div class="dropdown">
                <input type="button" name="drop_btn" class="drop_btn" value="Дисциплины"/>
                <div class="drop-content">
                    {% for course in courses %}
                        <a href="/hw_board/courses/{{course}}">{{course.name}}</a>
                    {% endfor %}
                </div>
               </div>
            <input type="button" name="profile" class="prof_btn" value="Профиль" onclick = "window.location.href='/hw_board/profile/'"/>
            <input type="button" name="journal" class="journal_btn" value="Журнал" onclick="window.location.href='/hw_board/journal/'"/>
            <input type="button" name="logout" class="logout_btn" value="Выйти" onclick="window.location.href='/hw_board/login/'"/>

        </header>
    <section>
        <h1>{{course_name}}</h1>
        <table>
            <caption>
                <h3>Домашние задания по курсу</h3>
            </caption>
            <thead>
                <tr>
                    <th>Задание</th>
                    <th>Оценка</th>
                </tr>
            </thead>
            
            <tbody>
                {% for hw_type, mark in stat %}
                    <tr>
                        <td><a href="/hw_board/homework/{{hw_type.id}}">{{hw_type.name}}</a></td>
                        <td>{{ mark}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>